<div id="riskfileuploaddiv" title="Search" class="dialog-v">

	<div id="riskuploadTmpl" class="lab-int">
		<div id="span-close" class="span-c" title="Close" 
			onclick="javascript:closeDialog('riskfileuploaddiv');"></div>
		<div id="riskfileupload-help" class="span-h" title="This is Search help for Risk File Upload"  ></div>
		<div class="lineBreak05p"></div>
		
		<div id="riskuploadDiv">	</div>
		
	</div>
	<div class="lineBreak05p"></div>
    <div class="outertableup">    
		<div id="RiskAttchFileList" class="lab-int">
        	<table width="100%" cellpadding="1" cellspacing="1">        	
                	<!--start:heading-->
                    <tr>
                        <td colspan="2" class="form_head">
                            Risk Assessment
                        </td>
                   </tr>
               		<!--end:heading--> 
            </table>
			<table width="100%" cellspacing="1" cellpadding="1" border="0">
				<thead>
					<tr>
						<th class="headercolorup">Associate Id</th>
						<th class="headercolorup"> File</th>
						<th class="headercolorup">Action</th>
					</tr>
				</thead>
				
				<tbody id="RiskAttchFileListBody">
			
				</tbody>
				
			</table>
		</div>
    </div>

</div>